
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: sans-serif;
}
body {
    color: #fff;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center top;
    xbackground-image: url(https://i2.ytimg.com/u/y1Ms_5qBTawC-k7PVjHXKQ/channels3_background.jpg);
}
a {
    color: #fff;
    text-decoration: none;
    -webkit-font-smoothing: subpixel-antialiased;
}
a:visited {
    color: #fcc;
}
a:hover {
    color: #ccf;
}
p {
    padding: 10px;
}
object,
iframe {
    width: 100%;
    height: 100%;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.message {
    text-align: center;
    padding: 10px;
}
.error {
    color: #fff;
    background-color: rgba(128,0,0,.5);
}
#header .loading {
    float: right;
    color: #fff;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
}
#header {
    background-color: #333;
}
#header .inner {
    padding: 3px;
}
#header h1 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0px;
    float: left;
}
#header h1 a {
    color: #fcc;
}
#header h2 {
    color: #ddd;
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
    float: left;
}
.feed {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.feed li {
    position: relative;
    border: 1px solid rgba(255,255,255,.2);
    margin: 5px;
    min-height: 70px;
}

.feed .header {
    /*position: relative;*/
}

.feed .content {
    display: none;
    margin-top: 75px;
    margin-bottom: 5px;
    z-index: 10000;
}

.feed .player {
    margin: 0 auto;
}
.feed .description {
    font-size: smaller;
}
.feed .description a {
    color: #ccf;
}
.feed .background {
    background-size: 135%;
    background-position: -35%;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .2;
    z-index: -2;
    max-height: 250px;
}

.feed .thumb {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 120px;
    height: 60px;
    background-size: 125%;
    background-position: center;
    border: 1px solid rgba(255,255,255,.5);
    background-color: #000;
    box-shadow:  2px  2px 2px rgba(0,0,0,.75),
                 2px -2px 2px rgba(0,0,0,.75),
                -2px -2px 2px rgba(0,0,0,.75),
                -2px  2px 2px rgba(0,0,0,.75);
}

.feed h1,
.feed h2,
.feed h3 {
    position: absolute;
    left: 135px;
    text-shadow: 0 0 0 transparent, /* chrome fix */
                 2px  2px 2px rgba(0,0,0,.75),
                 2px -2px 2px rgba(0,0,0,.75),
                -2px -2px 2px rgba(0,0,0,.75),
                -2px  2px 2px rgba(0,0,0,.75);
    font-size: 15px
    line-height: 20px;
    max-height: 20px;
    overflow: hidden;
}
.feed h1 {
    top: 3px;
    font-size: 20px;
    line-height: 25px;
    max-height: 25px;
}
.feed h2 {
    top: 27px;
    color: rgba(255,255,255,.6);
}
.feed h3 {
    top: 47px;
    color: rgba(255,255,255,.6);
}
.feed h2 a,
.feed h3 a {
    color: rgba(150,150,200,.9);
}

#info li {
    height: auto;
}

#live li,
#live .thumb {
    border: 1px solid rgba(150,225,150,.5);
}
#live h1 {
    color: rgba(150,225,150,.9);
}

#header .inner,
.feed {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.feed .message {
    min-height: 0;
}

